/* CSS Document */

a:link
{ 
	color: #333333;
	text-decoration: underline;
}
a:visited
{ 
	color: #FFFFFF;
	text-decoration: underline;
}

body
{ 
	background-image:   url('images/gradient.png');
    background-repeat:  repeat-x;
	background-color: 	#fff;
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
}

#container 
{
	position:			absolute;
	left: 				50%;
	margin:				0 0 0 -500px;
	
	width: 				1000px;
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	color: 				#003366;
	background-color:	#F1F9FE;
	border:				1px solid #0F46A2;
}

#banner
{
	font-size:			24px;
	width: 				1000px;
	height: 			100px;
	text-align:			center;
	background-image:   url('homeBanner.jpg');
	border-bottom:		1px solid #0F46A2;
}

#menu_left
{
	float:				left;
	width: 				280px;
	text-align:			left;
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 			13px;
	overflow: 			auto;
	color:				#333333;
	background-color: 	#DCE6FC;
	height:				inherit;
	border-right:		1px solid #0F46A2;
	border-bottom:		1px solid #0F46A2;
}

#content
{
	float:				left;
	width:	 			710px;
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 			13px;
    padding-left:       5px;
	overflow: 			auto;
	background-color:	#F1F9FE;
}

#footnote
{
	float:				left;
	padding-top: 		5px;
	height:				20px;
	width: 				1000px;
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 			10px;
	text-align:			center;
	background-color: 	#6195D3;
	border-top:			1px solid #0F46A2;
}

.input
{
 	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 			13px;
}

#menu
{
	padding:			5px;
}

#login
{
	background-color: #b0dffa;
	width: 250px;
	margin: auto;
	border: 1px dashed;
}

a img {
	border: 0;
}
table.sortable {
	border-spacing: 0;
	border: 1px solid #000;
	border-collapse: collapse;
}
table.sortable th, table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	border-style: solid;
	border-color: #444;
}
table.sortable th {
	border-width: 0px 1px 1px 1px;
	background-color: #e1f3fd;
}
table.sortable td {
	border-width: 0px 1px 0px 1px;
}
table.sortable tr.odd td {
	background-color: #fff;
}
table.sortable tr.even td {
	background-color: #e1f3fd;
}
table.sortable tr.sortbottom td {
	border-top: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}